<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dogether.dogether.dogethercamera">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application android:theme="@style/dogethercamera__CameraFullScreenTheme" >
        <activity
            android:name=".RuntimePermissionActivity"
            android:theme="@style/dogethercamera__CameraFullScreenTheme.NoUI" >
        </activity>
    </application>

</manifest>
